[submodule "lib/siml"]
	path = lib/siml
	url = https://github.com/ricosjp/siml
	branch = isogcn_boundary
[submodule "lib/femio"]
	path = lib/femio
	url = https://github.com/ricosjp/femio
	branch = develop
[submodule "mp-neural-pde-solvers"]
	path = mp-neural-pde-solvers
	url = https://github.com/yellowshippo/MP-Neural-PDE-Solvers
	branch = neurips2022
